body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 20px;
}

h1 {
  color: #007bff;
}

.gray-container {
  background-color: #eeeeee;
}
.footer div {
  float: left;
  height: 76px;
  width: 33.23%;
  padding: 15px 0;
}
.color-1 {
  background-color: #7ee5da;
}
.color-2 {
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  background-color: #70ccc2;
}
.color-3 {
  background-color: #62b3aa;
}
.footer {
    margin-top:2px;
}